body {
  background: #bdbdbd;
}

.head {
  text-align: center;
  margin-top: 80px;
}
.head h1 {
  font-size: 40px;
  line-height: 0px;
}

footer {
  text-align: center;
  margin-bottom: 80px;
}
footer h2 {
  font-size: 20px;
}
footer h2 a {
  color: black;
}
footer h2 a:hover {
  color: #D81B60;
}

#root {
  background: #1565C0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 100px;
  border-radius: 10px;
}

#drum-machine {
  position: relative;
  text-align: center;
  width: 100%;
  position: relative;
  top: 0px;
  bottom: 50px;
}

.music-Bank {
  display: flex;
  border-top: 4px solid black;
  margin-top: 20px;
}

.drum-pad {
  margin: 40px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.drum-pad:hover {
  opacity: 0.8;
}

.control {
  width: 100px;
  margin: auto;
}
.control p {
  margin-bottom: 0;
}
.outer-select, .control .select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: white;
}

.inner-select, .control .select .inner {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

#display {
  background: #bdbdbd;
  text-align: center;
  align-items: center;
  width: 350px;
  margin: 10px auto;
  padding: 10px;
}